select{
    height: 35px;
    width: 200px;
    font-size: 20px;

    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.selectorMain{
    color: var(--main-color)
}
.selectorMain option{
    color: var(--main-color)
}

.selectorRed{
    color: var(--main-color);
    border: 1px solid var(--error-color);
}
.selectorRed option{
    color: var(--main-color)
}