#root {
  --aux-color: #C8DEFF;
  --main-color: #3C7CB6;
  --white: #F7F9F9;
  --black: #211A1E;
  
  --border-radius: 20px;

  --headerHeight: 64px;
  --footerHeight: 155px;
  

  font-family: Arial, Helvetica, sans-serif
}

html {
  background-color: var(--white);
}

*{
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.body-container{
  min-height: calc(100hv-(var(--headerHeight)+var(--footerHeight)));
}