.test{
    background-color: blue;
    width: var(--siteWidth);
    height: 200px;
    position: relative;
    overflow: hidden;
}

.test::before {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 40%;
    /* background-color: var(--light-gray); */
    background-color: var(--white);
    filter: blur(13px);
}

.test::after {
    content: "";
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    height: 40%;
    /* background-color: var(--light-gray); */
    background-color: var(--white);
    filter: blur(13px);
}

