.search{
    height: 35px;
    width: 404px;
    font-size: 20px;
    padding-left: 5px;

    color: var(--main-color);

    border: solid;
    border-width: 1px;
    border-radius: 5px;
}
.search::placeholder {
    color: var(--main-color);
  }

  .datalist option{
    color: var(--main-color);
    font-size: 20px;
  }