.outerWrapper{
    background-color: var(--main-color);
}

.innerWrapper{
    height: var(--footerHeight);
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}