.outerWrapper{
    background-color: var(--main-color);
}

.innerWrapper{
    height: var(--footerHeight);
    max-width: var(--siteWidth);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1210px){
    .innerWrapper{
      padding: 0 10px;
    }
}

.footerhalf{
    line-height: 1.3;
}